<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packages>
    <package id="Mapster" version="7.3.0" targetFramework="net472" />
    <package id="Mapster.Core" version="1.2.0" targetFramework="net472" />
    <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net472" />
    <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
    <package id="Serilog" version="2.12.0" targetFramework="net472" />
    <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net472" />
    <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />

    <!--<package id="System" version="4.0.0" targetFramework="net472" />
    <package id="System.Configuration" version="4.0.0" targetFramework="net472" />
    <package id="System.Core" version="4.0.0" targetFramework="net472" />
    <package id="System.Data" version="4.0.0" targetFramework="net472" />
    <package id="System.Data.DataSetExtensions" version="4.0.0" targetFramework="net472" />
    <package id="System.Deployment" version="4.0.0" targetFramework="net472" />
    <package id="System.Drawing" version="4.0.0" targetFramework="net472" />
    <package id="System.IO.Compression" version="4.2.0" targetFramework="net472" />
    <package id="System.Net.Http" version="4.2.0" targetFramework="net472" />
    <package id="System.Runtime.Serialization" version="4.0.0" targetFramework="net472" />
    <package id="System.ServiceModel" version="4.0.0" targetFramework="net472" />
    <package id="System.Transactions" version="4.0.0" targetFramework="net472" />
    <package id="System.Web" version="4.0.0" targetFramework="net472" />
    <package id="System.Windows.Forms" version="4.0.0" targetFramework="net472" />
    <package id="System.Xml" version="4.0.0" targetFramework="net472" />
    <package id="System.Xml.Linq" version="4.0.0" targetFramework="net472" />-->
  </packages>
</configuration>