
*.cache
RegistroPresencaTrilhar/CadastroTrilhar/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Controle/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Entidades/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Forms/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Integracao/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Mapeamento/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Uteis/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.pdb
*.pdb
RegistroPresencaTrilhar/.vs/RegistroPresencaTrilhar/v16/.suo
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/app.publish/CadastroTrilhar.exe
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/CadastroTrilhar.application
*.log
*.pdb
*.manifest
*.application
RegistroPresencaTrilhar/.vs/RegistroPresencaTrilhar/v16/.suo
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/app.publish/CadastroTrilhar.exe
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/CadastroTrilhar.application
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/CadastroTrilhar.exe
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/CadastroTrilhar.exe.manifest
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/CadastroTrilhar.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Log/CadastroTrilhar_20230302.log
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Trilhar.Controle.dll
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Trilhar.Controle.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Trilhar.Entidades.dll
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Trilhar.Forms.dll
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Trilhar.Forms.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Trilhar.Integracao.dll
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Trilhar.Integracao.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Trilhar.Mapeamento.dll
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Trilhar.Mapeamento.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Trilhar.Uteis.dll
RegistroPresencaTrilhar/CadastroTrilhar/bin/Debug/Trilhar.Uteis.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/app.publish/CadastroTrilhar.exe
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/CadastroTrilhar.application
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/CadastroTrilhar.exe
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/CadastroTrilhar.exe.manifest
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/CadastroTrilhar.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Log/CadastroTrilhar_20230302.log
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Trilhar.Controle.dll
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Trilhar.Controle.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Trilhar.Entidades.dll
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Trilhar.Forms.dll
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Trilhar.Forms.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Trilhar.Integracao.dll
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Trilhar.Integracao.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Trilhar.Mapeamento.dll
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Trilhar.Mapeamento.pdb
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Trilhar.Uteis.dll
RegistroPresencaTrilhar/CadastroTrilhar/bin/Release/Trilhar.Uteis.pdb
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Debug/build.force
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Debug/CadastroTrilhar.application
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Debug/CadastroTrilhar.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Debug/CadastroTrilhar.csproj.GenerateResource.cache
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Debug/CadastroTrilhar.exe
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Debug/CadastroTrilhar.exe.manifest
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Debug/CadastroTrilhar.pdb
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Release/CadastroTrilhar.application
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Release/CadastroTrilhar.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Release/CadastroTrilhar.csproj.GenerateResource.cache
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Release/CadastroTrilhar.exe
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Release/CadastroTrilhar.exe.manifest
RegistroPresencaTrilhar/CadastroTrilhar/obj/x86/Release/CadastroTrilhar.pdb
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Debug/Mapster.Core.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Debug/Mapster.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Debug/Newtonsoft.Json.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Debug/Newtonsoft.Json.xml
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Debug/Trilhar.Controle.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Debug/Trilhar.Entidades.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Debug/Trilhar.Integracao.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Debug/Trilhar.Mapeamento.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Debug/Trilhar.Uteis.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Release/Trilhar.Controle.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Release/Trilhar.Controle.pdb
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Release/Trilhar.Entidades.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Release/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Release/Trilhar.Integracao.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Release/Trilhar.Integracao.pdb
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Release/Trilhar.Mapeamento.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Release/Trilhar.Mapeamento.pdb
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Release/Trilhar.Uteis.dll
RegistroPresencaTrilhar/Trilhar.Controle/bin/x86/Release/Trilhar.Uteis.pdb
RegistroPresencaTrilhar/Trilhar.Controle/obj/x86/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Controle/obj/x86/Debug/Trilhar.Controle.csproj.CopyComplete
RegistroPresencaTrilhar/Trilhar.Controle/obj/x86/Debug/Trilhar.Controle.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/Trilhar.Controle/obj/x86/Debug/Trilhar.Controle.dll
RegistroPresencaTrilhar/Trilhar.Controle/obj/x86/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Controle/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
RegistroPresencaTrilhar/Trilhar.Controle/obj/x86/Release/Trilhar.Controle.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/Trilhar.Controle/obj/x86/Release/Trilhar.Controle.dll
RegistroPresencaTrilhar/Trilhar.Controle/obj/x86/Release/Trilhar.Controle.pdb
RegistroPresencaTrilhar/Trilhar.Entidades/bin/x86/Debug/Trilhar.Entidades.dll
RegistroPresencaTrilhar/Trilhar.Entidades/bin/x86/Debug/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/Trilhar.Entidades/bin/x86/Release/Trilhar.Entidades.dll
RegistroPresencaTrilhar/Trilhar.Entidades/bin/x86/Release/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/Trilhar.Entidades/obj/x86/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Entidades/obj/x86/Debug/Trilhar.Entidades.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/Trilhar.Entidades/obj/x86/Debug/Trilhar.Entidades.dll
RegistroPresencaTrilhar/Trilhar.Entidades/obj/x86/Debug/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/Trilhar.Entidades/obj/x86/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Entidades/obj/x86/Release/Trilhar.Entidades.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/Trilhar.Entidades/obj/x86/Release/Trilhar.Entidades.dll
RegistroPresencaTrilhar/Trilhar.Entidades/obj/x86/Release/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Debug/Trilhar.Controle.dll
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Debug/Trilhar.Controle.pdb
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Debug/Trilhar.Entidades.dll
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Debug/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Debug/Trilhar.Forms.dll
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Debug/Trilhar.Forms.pdb
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Debug/Trilhar.Integracao.dll
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Debug/Trilhar.Integracao.pdb
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Debug/Trilhar.Mapeamento.dll
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Debug/Trilhar.Mapeamento.pdb
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Debug/Trilhar.Uteis.dll
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Debug/Trilhar.Uteis.pdb
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Release/Trilhar.Controle.dll
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Release/Trilhar.Controle.pdb
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Release/Trilhar.Entidades.dll
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Release/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Release/Trilhar.Forms.dll
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Release/Trilhar.Forms.pdb
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Release/Trilhar.Integracao.dll
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Release/Trilhar.Integracao.pdb
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Release/Trilhar.Mapeamento.dll
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Release/Trilhar.Mapeamento.pdb
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Release/Trilhar.Uteis.dll
RegistroPresencaTrilhar/Trilhar.Forms/bin/x86/Release/Trilhar.Uteis.pdb
RegistroPresencaTrilhar/Trilhar.Forms/obj/x86/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Forms/obj/x86/Debug/build.force
RegistroPresencaTrilhar/Trilhar.Forms/obj/x86/Debug/Trilhar.Forms.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/Trilhar.Forms/obj/x86/Debug/Trilhar.Forms.csproj.GenerateResource.cache
RegistroPresencaTrilhar/Trilhar.Forms/obj/x86/Debug/Trilhar.Forms.dll
RegistroPresencaTrilhar/Trilhar.Forms/obj/x86/Debug/Trilhar.Forms.pdb
RegistroPresencaTrilhar/Trilhar.Forms/obj/x86/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Forms/obj/x86/Release/Trilhar.Forms.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/Trilhar.Forms/obj/x86/Release/Trilhar.Forms.csproj.GenerateResource.cache
RegistroPresencaTrilhar/Trilhar.Forms/obj/x86/Release/Trilhar.Forms.dll
RegistroPresencaTrilhar/Trilhar.Forms/obj/x86/Release/Trilhar.Forms.pdb
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Debug/Trilhar.Entidades.dll
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Debug/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Debug/Trilhar.Integracao.dll
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Debug/Trilhar.Integracao.pdb
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Debug/Trilhar.Mapeamento.dll
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Debug/Trilhar.Mapeamento.pdb
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Debug/Trilhar.Uteis.dll
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Debug/Trilhar.Uteis.pdb
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Release/Trilhar.Entidades.dll
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Release/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Release/Trilhar.Integracao.dll
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Release/Trilhar.Integracao.pdb
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Release/Trilhar.Mapeamento.dll
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Release/Trilhar.Mapeamento.pdb
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Release/Trilhar.Uteis.dll
RegistroPresencaTrilhar/Trilhar.Integracao/bin/x86/Release/Trilhar.Uteis.pdb
RegistroPresencaTrilhar/Trilhar.Integracao/obj/x86/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Integracao/obj/x86/Debug/build.force
RegistroPresencaTrilhar/Trilhar.Integracao/obj/x86/Debug/Trilhar.Integracao.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/Trilhar.Integracao/obj/x86/Debug/Trilhar.Integracao.dll
RegistroPresencaTrilhar/Trilhar.Integracao/obj/x86/Debug/Trilhar.Integracao.pdb
RegistroPresencaTrilhar/Trilhar.Integracao/obj/x86/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Integracao/obj/x86/Release/Trilhar.Integracao.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/Trilhar.Integracao/obj/x86/Release/Trilhar.Integracao.dll
RegistroPresencaTrilhar/Trilhar.Integracao/obj/x86/Release/Trilhar.Integracao.pdb
RegistroPresencaTrilhar/Trilhar.Mapeamento/bin/x86/Debug/Trilhar.Entidades.dll
RegistroPresencaTrilhar/Trilhar.Mapeamento/bin/x86/Debug/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/Trilhar.Mapeamento/bin/x86/Debug/Trilhar.Mapeamento.dll
RegistroPresencaTrilhar/Trilhar.Mapeamento/bin/x86/Debug/Trilhar.Mapeamento.pdb
RegistroPresencaTrilhar/Trilhar.Mapeamento/bin/x86/Release/Trilhar.Entidades.dll
RegistroPresencaTrilhar/Trilhar.Mapeamento/bin/x86/Release/Trilhar.Entidades.pdb
RegistroPresencaTrilhar/Trilhar.Mapeamento/bin/x86/Release/Trilhar.Mapeamento.dll
RegistroPresencaTrilhar/Trilhar.Mapeamento/bin/x86/Release/Trilhar.Mapeamento.pdb
RegistroPresencaTrilhar/Trilhar.Mapeamento/obj/x86/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Mapeamento/obj/x86/Debug/build.force
RegistroPresencaTrilhar/Trilhar.Mapeamento/obj/x86/Debug/Trilhar.Mapeamento.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/Trilhar.Mapeamento/obj/x86/Debug/Trilhar.Mapeamento.dll
RegistroPresencaTrilhar/Trilhar.Mapeamento/obj/x86/Debug/Trilhar.Mapeamento.pdb
RegistroPresencaTrilhar/Trilhar.Mapeamento/obj/x86/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Mapeamento/obj/x86/Release/Trilhar.Mapeamento.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/Trilhar.Mapeamento/obj/x86/Release/Trilhar.Mapeamento.dll
RegistroPresencaTrilhar/Trilhar.Mapeamento/obj/x86/Release/Trilhar.Mapeamento.pdb
RegistroPresencaTrilhar/Trilhar.Uteis/bin/x86/Debug/Trilhar.Uteis.dll
RegistroPresencaTrilhar/Trilhar.Uteis/bin/x86/Debug/Trilhar.Uteis.pdb
RegistroPresencaTrilhar/Trilhar.Uteis/bin/x86/Release/Trilhar.Uteis.dll
RegistroPresencaTrilhar/Trilhar.Uteis/bin/x86/Release/Trilhar.Uteis.pdb
RegistroPresencaTrilhar/Trilhar.Uteis/obj/x86/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Uteis/obj/x86/Debug/Trilhar.Uteis.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/Trilhar.Uteis/obj/x86/Debug/Trilhar.Uteis.dll
RegistroPresencaTrilhar/Trilhar.Uteis/obj/x86/Debug/Trilhar.Uteis.pdb
RegistroPresencaTrilhar/Trilhar.Uteis/obj/x86/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RegistroPresencaTrilhar/Trilhar.Uteis/obj/x86/Release/Trilhar.Uteis.csproj.FileListAbsolute.txt
RegistroPresencaTrilhar/Trilhar.Uteis/obj/x86/Release/Trilhar.Uteis.dll
RegistroPresencaTrilhar/Trilhar.Uteis/obj/x86/Release/Trilhar.Uteis.pdb
*.application
*.log
*.pdb
